/* .navbox {
  background: #fff;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: -5px 20px 20px rgba(34, 34, 34, 0.37);
  max-height: 400px;
  min-width: 250px;
}

.navbox > a {
  display: block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  border-radius: 20px;
  transition: 0.3s 0s linear;
}

.navbox2 {
  border-radius: 20px;
  text-align: center;
}

.nr {
  display: block;
  text-align: center;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  font-weight: bold;
  transition: 0.3s 0s linear, width 0.3s 0s linear;
  -webkit-filter: drop-shadow(-5px 20px 10px rgba(34, 34, 34, 0.37));
  filter: drop-shadow(-5px 20px 10px rgba(34, 34, 34, 0.37));
  font-size: 35px;
  background: rgba(255, 255, 255, 0.521);
  color: #000;
}

.navbox2 > a:hover {
  background: #fff;
  font-size: 40px;
  -webkit-filter: drop-shadow(-5px 20px 10px rgba(34, 34, 34, 0.37));
  filter: drop-shadow(-5px 20px 10px rgba(34, 34, 34, 0.37));
}

.crpage {
  background: #fff;
  font-size: 40px;
  -webkit-filter: drop-shadow(-5px 20px 10px rgba(34, 34, 34, 0.37));
  filter: drop-shadow(-5px 20px 10px rgba(34, 34, 34, 0.37));
}

.bkimg {
  -webkit-filter: drop-shadow(-5px 20px 5px rgba(34, 34, 34, 0.37));
  filter: drop-shadow(-5px 20px 5px rgba(34, 34, 34, 0.37));
}

.bnimg {
  -webkit-filter: drop-shadow(-5px 20px 5px rgba(34, 34, 34, 0.37));
  filter: drop-shadow(-5px 20px 5px rgba(34, 34, 34, 0.37));
}

@media only screen and (min-width: 900px) {
  .navbox {
    position: absolute;
    right: 10%;
    top: 25%;
    width: 80%;
    max-width: 300px;
    bottom: 20%;
    opacity: 75%;
  }

  .navbox > a {
    font-weight: bold;
    font-size: 30px;
    background: rgb(165, 154, 154, 0.34);
    padding: 15px;
    margin: 35px;
  }

  .navbox > a:hover {
    background: rgb(165, 154, 154);
    color: #333;
  }

  .navbox2 {
    position: absolute;
    left: 10%;
    top: 25%;
    width: 80%;
    max-width: 300px;
    bottom: 20%;
    opacity: 75%;
  }

  .nr {
    padding: 20px;
    border-radius: 20px;
    margin: 35px;
    width: 75%;
  }

  .navbox2 > a:hover {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    position: relative;
    left: 0;
    margin-left: 0;
  }

  .crpage {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    position: relative;
    left: 0;
    margin-left: 0;
  }

  .bkimg {
    position: absolute;
    left: 10%;
    top: 15px;
    display: inline;
    padding: 15px;
    height: 60px;
    width: auto;
  }
  .bnimg {
    position: relative;
    left: 20%;
    top: 0;
    display: inline;
    padding: 15px;
    height: 100px;
    width: auto;
  }
}

@media only screen and (max-width: 899px) {
  .navbox {
    position: absolute;
    right: 2%;
    left: 2%;
    bottom: 5%;
    background: rgba(255, 255, 255, 0.308);
    max-height: 400px;
   min-width: 300px; 
  }

  .navbox > a {
    font-weight: bold;
    font-size: 30px;
    background: rgb(255, 255, 255);
    padding: 15px;
    margin: 35px;
  }

  .navbox > a:hover {
    background: rgb(165, 154, 154);
    color: #333;
  }

  .navbox2 {
    position: relative;
    left: 1%;
    right: 1%;
    top: 2%;
    height: 0;
    overflow: hidden;
  }

  .nr {
    font-size: 35px;
    padding: 20px;
    border-radius: 20px;
    margin: 35px;
    width: 75%;
  }

  .navbox2 > a:hover {
    background: #fff;
  }

  .crpage {
    background: #fff;
  }

  .bkimg {
    position: absolute;
    left: 10%;
    top: 15px;
    display: none;
    padding: 15px;
    height: 60px;
    width: auto;
  }
  .bnimg {
    position: relative;
    left: 5%;
    text-align: center;
    top: 0;
    display: inline;
    padding: 15px;
    width: 90vw;
    height: auto;
  }
}

@media only screen and (max-width: 899px) and (min-width: 500px) {
  .navbox {
    width: 70%;
    left: 15%;
    bottom: 10%;
  }
} */
