.about {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.nav {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 500px;
  font-weight: bold;
  font-size: 22px;
}

.link {
  text-decoration: none;
  padding-right: 5%;
  margin-right: 4%;
  background: linear-gradient(to bottom, #ffcd10 0%, #ffcd10 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}

.link:hover {
  /* background-size: 4px 50px; */
}

.title {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  z-index: 1;
  top: 8%;
  text-decoration: #ffcd10 underline;
}

.text {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
  z-index: 1;
  font-size: 16px;
  font-weight: bold;
}

.footer {
  font-size: 10px;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

.proContainer1,
.proContainer2,
.proContainer3,
.proContainer4,
.proContainer5,
.proContainer6 {
  position: absolute;
  height: 150px;
  width: 150px;
  display: flex;
  border-radius: 100rem;
  font-size: 20px;
  animation-name: fade-in;
  animation-duration: 3s;
  box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
}

.proContainer1 {
  top: 50%;
  left: 30%;
}

.proContainer2 {
  top: 50%;
  left: 40%;
}

.proContainer3 {
  top: 50%;
  left: 50%;
}

.proContainer4 {
  top: 50%;
  left: 60%;
}
.proContainer5 {
  top: 73%;
  left: 40%;
}

.proContainer6 {
  top: 73%;
  left: 50%;
}

.proContainer1 img,
.proContainer2 img,
.proContainer3 img,
.proContainer4 img,
.proContainer5 img,
.proContainer6 img {
  height: 150px;
  width: 150px;
  border-radius: 100rem;
}

.proContainer1 div,
.proContainer2 div,
.proContainer3 div,
.proContainer4 div,
.proContainer5 div,
.proContainer6 div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  visibility: hidden;
  border-radius: 100rem;
}

.proContainer1:hover,
.proContainer2:hover,
.proContainer3:hover,
.proContainer4:hover,
.proContainer5:hover,
.proContainer6:hover {
  cursor: pointer;
}

.proContainer1:hover div,
.proContainer2:hover div,
.proContainer3:hover div,
.proContainer4:hover div,
.proContainer5:hover div,
.proContainer6:hover div {
  transition: 0.5s;
  width: 150px;
  height: 150px;
  visibility: visible;
  opacity: 1;
}

.mobileNav {
  visibility: hidden;
}

.homeMain {
  position: absolute;
  visibility: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .overlay {
    opacity: 0;
  }
  .title {
    top: 5%;
  }

  .logo {
    position: absolute;
    top: 1%;
    height: 94px;
    width: 320px;
    z-index: 1;
  }
  .yellowCircle {
    position: absolute;
    border-radius: 100rem;
    height: 250px;
    width: 250px;
    background: linear-gradient(45deg, #e9e9e9, #ffcd10);
    left: -5%;
    bottom: 0%;
  }

  .greenCircle {
    position: absolute;
    border-radius: 100rem;
    height: 250px;
    width: 250px;
    background: linear-gradient(-45deg, #e9e9e9, #95bf15);
    top: -10%;
    right: -5%;
  }

  .redCircle {
    position: absolute;
    border-radius: 100rem;
    height: 150px;
    width: 150px;
    background: linear-gradient(-45deg, #e9e9e9, #ee1700);
    bottom: 25%;
    right: 10%;
  }

  .yellowCircle,
  .greenCircle,
  .redCircle {
    box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  }

  .yellowCircle:hover,
  .greenCircle:hover,
  .redCircle:hover,
  .logo:hover {
    transform: scale(1.2);
  }

  .text {
    top: 15%;
    width: 50%;
  }

  .proContainer1,
  .proContainer2,
  .proContainer3,
  .proContainer4,
  .proContainer5,
  .proContainer6 {
    position: absolute;
    height: 100px;
    width: 100px;
    display: flex;
    border-radius: 100rem;
    font-size: 20px;
    animation-name: fade-in;
    animation-duration: 3s;
    box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  }

  .proContainer1 {
    top: 50%;
    left: 5%;
  }

  .proContainer2 {
    top: 50%;
    left: 30%;
  }

  .proContainer3 {
    top: 50%;
    left: 55%;
  }

  .proContainer4 {
    top: 73%;
    left: 75%;
  }
  .proContainer5 {
    top: 73%;
    left: 50%;
  }

  .proContainer6 {
    top: 73%;
    left: 25%;
  }

  .proContainer1 img,
  .proContainer2 img,
  .proContainer3 img,
  .proContainer4 img,
  .proContainer5 img,
  .proContainer6 img {
    height: 100px;
    width: 100px;
    border-radius: 100rem;
  }

  .proContainer1:hover,
  .proContainer2:hover,
  .proContainer3:hover,
  .proContainer4:hover,
  .proContainer5:hover,
  .proContainer6:hover {
    cursor: pointer;
  }

  .proContainer1:hover div,
  .proContainer2:hover div,
  .proContainer3:hover div,
  .proContainer4:hover div,
  .proContainer5:hover div,
  .proContainer6:hover div {
    transition: 0.5s;
    width: 100px;
    height: 100px;
    visibility: visible;
    opacity: 1;
  }
  .nav {
    visibility: hidden;
  }
  .homeMain {
    position: absolute;
    top: 2%;
    left: 2%;
    visibility: visible;
    height: 100px;
    width: 100px;
    z-index: 3;
  }

  .homeMain img {
    height: 20px;
    width: 20px;
  }
  /* mobile nav */

  .mobileNav {
    visibility: visible;
    position: fixed;
    height: 10vh;
    width: 100%;
    background: linear-gradient(
      45deg,
      rgba(255, 203, 16, 0.301),
      rgba(255, 203, 16, 0.74)
    ) !important;
    backdrop-filter: blur(5px);
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .mobileNav img {
    height: 20px;
    width: 20px;
  }
}
