.formSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}
.Blahbijj {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
}

.formSection label {
  font-size: 25px;
  margin-bottom: 250px;
}

.formSection input {
  height: 55px;
  width: 100%;
  border: none;
  margin: 25px 0 0 0;
  border-bottom: solid 3px #ffcd10;
}

.formSection input::placeholder {
  font-size: 15px;
}

.formSection button {
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  /* background: rgba(255, 205, 16, 0.7); */
  border: 3px solid rgba(255, 205, 16, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 2rem;
  transition: 0.5s;
  margin-top: 15px;
  margin-bottom: 15px;
}

.formSection button:hover {
  transform: scale(1.2);
  background: rgba(255, 205, 16, 0.7);
}

.nav {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 500px;
  font-weight: bold;
  font-size: 22px;
}

.mobileNav {
  position: absolute;
  visibility: hidden;
}

.homeMain {
  position: absolute;
  visibility: hidden;
}

@media only screen and (max-width: 700px) {
  .overlay {
    opacity: 0;
  }

  .yellowCircle {
    position: absolute;
    border-radius: 100rem;
    height: 250px;
    width: 250px;
    background: linear-gradient(45deg, #e9e9e9, #ffcd10);
    left: -5%;
    bottom: 0%;
  }

  .greenCircle {
    position: absolute;
    border-radius: 100rem;
    height: 250px;
    width: 250px;
    background: linear-gradient(-45deg, #e9e9e9, #95bf15);
    top: -10%;
    right: -5%;
  }

  .redCircle {
    position: absolute;
    border-radius: 100rem;
    height: 150px;
    width: 150px;
    background: linear-gradient(-45deg, #e9e9e9, #ee1700);
    bottom: 25%;
    right: 10%;
  }

  .yellowCircle,
  .greenCircle,
  .redCircle {
    box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  }

  .yellowCircle:hover,
  .greenCircle:hover,
  .redCircle:hover {
    transform: scale(1.2);
  }

  .nav {
    visibility: hidden;
  }

  .glass,
  .head,
  .eventLists {
    width: 350px;
  }

  .eventLists div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }

  .eventLists div button {
    position: unset;
    font-size: 12px;
    margin-left: 0px;
    margin-top: 10px;
  }

  .homeMain {
    position: absolute;
    top: 2%;
    left: 2%;
    visibility: visible;
    height: 100px;
    width: 100px;
    z-index: 3;
  }

  .homeMain img {
    height: 20px;
    width: 20px;
  }

  .mobileNav {
    visibility: visible;
    height: 10vh;
    width: 100%;
    position: fixed;
    background: white;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background: linear-gradient(
      45deg,
      rgba(255, 203, 16, 0.301),
      rgba(255, 203, 16, 0.74)
    ) !important;
    backdrop-filter: blur(5px);
  }

  .mobileNav img {
    height: 20px;
    width: 20px;
  }
}

.loader {
  color: #fff;
  text-align: center;
}

.formSection label {
  font-size: 15px;
  margin-bottom: 250px;
}

.formSection input {
  height: 20px;
  width: 75%;
  border: none;
  margin: 25px 0 0 0;
  border-bottom: solid 3px #ffcd10;
}

.formSection input::placeholder {
  font-size: 10px;
}

.formSection button {
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  /* background: rgba(255, 205, 16, 0.7); */
  border: 3px solid rgba(255, 205, 16, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 2rem;
  transition: 0.5s;
  margin-top: 15px;
  margin-bottom: 15px;
}

.formSection button:hover {
  transform: scale(1.2);
  background: rgba(255, 205, 16, 0.7);
}
