@media only screen and (min-width: 900px) {
  .navcont {
    /* border: aqua 2px solid; */
    height: 100%;
    overflow: hidden;
    padding: 0;
  }

  .datacont {
    /* border: firebrick solid 2px; */
    height: 100%;
    overflow: hidden;
    padding: 0;
  }

  .leftal {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
  }

  .rightal {
    position: fixed;
    left: 0;
    top: 0;
    width: 50%;
  }
  .layoutcont {
    display: block;
  }
}

@media screen and (max-width: 899px) {
  .navcont {
    /* border: aqua 2px solid; */
    height: 80vh;
    overflow: hidden;
    padding: 0;
    display: block;
  }

  .datacont {
    /* border: firebrick solid 2px; */
    height: 20vh;
    overflow: hidden;
    padding: 0;
    display: block;
  }

  .leftal {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
  }

  .rightal {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
  }
  .layoutcont {
    display: block;
  }
}
