.navbox {
  position: absolute;
  right: 10%;
  top: 25%;
  width: 80%;
  max-width: 300px;
  bottom: 20%;
  background: #fff;
  opacity: 75%;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: -5px 20px 20px rgba(34, 34, 34, 0.37);
}

.navbox > a {
  display: block;
  text-align: center;
  text-decoration: none;
  outline: none;

  font-weight: bold;
  font-size: 30px;
  background: rgb(165, 154, 154, 0.34);
  color: #000;
  padding: 15px;
  border-radius: 20px;
  margin: 35px;
  transition: 0.3s 0s linear;
}

.navbox > a:hover {
  background: rgb(165, 154, 154);
  color: #333;
}

.navbox2 {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 80%;
  max-width: 300px;
  bottom: 20%;
  opacity: 75%;
  border-radius: 20px;
  /* padding: 15px; */
  text-align: center;
}

.navbox2 > a {
  display: block;
  text-align: center;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  font-weight: bold;
  font-size: 35px;
  background: rgba(255, 255, 255, 0.521);
  color: #000;
  padding: 20px;
  border-radius: 20px;
  margin: 35px;
  width: 75%;
  transition: 0.3s 0s linear, width 0.3s 0s linear;
}

.navbox2 > a:hover {
  background: #fff;
  font-size: 40px;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  position: relative;
  left: 0;
  margin-left: 0;
}
