.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 500px;
  font-weight: bold;
  font-size: 22px;
}

.link {
  text-decoration: none;
  padding-right: 5%;
  margin-right: 4%;
  background: linear-gradient(to bottom, #ffcd10 0%, #ffcd10 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}

.link:hover {
  background-size: 4px 50px;
}

.yellowCircle {
  position: absolute;
  border-radius: 100rem;
  height: 500px;
  width: 500px;
  background: linear-gradient(45deg, #e9e9e9, #ffcd10);
  left: -10%;
  bottom: -30%;
}

.greenCircle {
  position: absolute;
  border-radius: 100rem;
  height: 250px;
  width: 250px;
  background: linear-gradient(-45deg, #e9e9e9, #95bf15);
  top: -10%;
  right: -5%;
}

.redCircle {
  position: absolute;
  border-radius: 100rem;
  height: 150px;
  width: 150px;
  background: linear-gradient(-45deg, #e9e9e9, #ee1700);
  bottom: 10%;
  right: 10%;
}
.yellowCircle,
.greenCircle,
.redCircle {
  transition: 0.2s;
  animation-name: fade-in;
  animation-duration: 3s;
  box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
}

.yellowCircle:hover,
.greenCircle:hover,
.redCircle:hover,
.logo:hover {
  transform: scale(1.2);
}

.socialDiv {
  height: 70vh;
  width: 50vh;
  background: rgba(150, 150, 150, 0.329);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  z-index: 1;
  box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  animation-name: fade-in;
  animation-duration: 1s;
}

.shead {
  height: 10vh;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
}

.shead p {
  text-decoration: underline 4px #ffcd10;
}

.sbody {
  height: 60vh;
  width: 100%;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sbody img {
  height: 60px;
  width: 60px;
  transition: 0.2s;
  cursor: pointer;
}

.sbody img:hover {
  transform: scale(1.2);
}

.mobileNav {
  position: absolute;
  visibility: hidden;
}

.homeMain {
  position: absolute;
  visibility: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .overlay {
    opacity: 0;
  }

  .yellowCircle {
    position: absolute;
    border-radius: 100rem;
    height: 250px;
    width: 250px;
    background: linear-gradient(45deg, #e9e9e9, #ffcd10);
    left: -5%;
    bottom: 0%;
  }

  .greenCircle {
    position: absolute;
    border-radius: 100rem;
    height: 250px;
    width: 250px;
    background: linear-gradient(-45deg, #e9e9e9, #95bf15);
    top: -10%;
    right: -5%;
  }

  .redCircle {
    position: absolute;
    border-radius: 100rem;
    height: 150px;
    width: 150px;
    background: linear-gradient(-45deg, #e9e9e9, #ee1700);
    bottom: 25%;
    right: 10%;
  }

  .yellowCircle,
  .greenCircle,
  .redCircle {
    box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 8px 4px 26px -13px rgba(0, 0, 0, 0.77);
  }

  .yellowCircle:hover,
  .greenCircle:hover,
  .redCircle:hover,
  .logo:hover {
    transform: scale(1.2);
  }

  .nav {
    visibility: hidden;
  }

  .shead {
    height: 10vh;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
  }

  .shead p {
    text-decoration: underline 4px #ffcd10;
  }

  .sbody {
    height: 60vh;
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .sbody img {
    height: 60px;
    width: 60px;
    transition: 0.2s;
    cursor: pointer;
  }

  .sbody img:hover {
    transform: scale(1.2);
  }

  .homeMain {
    position: absolute;
    top: 2%;
    left: 2%;
    visibility: visible;
    height: 100px;
    width: 100px;
    z-index: 3;
  }

  .homeMain img {
    height: 20px;
    width: 20px;
  }

  .mobileNav {
    visibility: visible;
    height: 10vh;
    width: 100%;
    position: fixed;
    background: white;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background: linear-gradient(
      45deg,
      rgba(255, 203, 16, 0.301),
      rgba(255, 203, 16, 0.74)
    ) !important;
    backdrop-filter: blur(5px);
  }

  .mobileNav img {
    height: 20px;
    width: 20px;
  }
}
